.custom-wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    letter-spacing: 5px;
}

.custom-wrapper a{
    color: black;
}

.custom-wrapper h2{
    text-align: center;
}

.service-form-wrapper{
    margin: 0 auto;
    width: 40%;
}

.staff-form-wrapper{
    margin: 0 auto;
    width: 40%;
}

.section-header{
    display:flex;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}
