{% extends 'mainController/layout.html'%}
{% load static %}
{% block title %} Управление работниками {% endblock %}
{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{%static 'css/app_admin/manage_staff.css'%}"/>
{% endblock %}

{% block body %}
<section class="content content-wrapper">
    <div class="staff-form-wrapper" style="margin: 0 auto; width: 40%;">
        <div class="staff-form-content">
            <h3>{{ page_title }}</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.user.label }}
                    {{ form.user }}
                </div>

                <div class="form-group">
                    {{ form.services_offered.label }} <br> <br>
                    {{ form.services_offered }}
                    <br><small>Нажмите “Control” для выбора нескольких услуг</small>
                </div>

                <div class="form-group">
                    {{ form.slot_duration.label }}
                    {{ form.slot_duration }}
                    <small>{{ form.slot_duration.help_text }}</small>
                </div>

                <div class="form-group">
                    {{ form.lead_time.label }}
                    {{ form.lead_time }}
                </div>

                <div class="form-group">
                    {{ form.finish_time.label }}
                    {{ form.finish_time }}
                </div>

                <div class="form-group">
                    {{ form.appointment_buffer_time.label_tag }}
                    {{ form.appointment_buffer_time }}
                    <small>{{ form.appointment_buffer_time.help_text }}</small>
                </div>

                <button type="submit" class="btn btn-primary">{{btn_text}}</button>
            </form>
            <div class="messages" style="margin: 20px 0">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                     role="alert">{{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
