{% extends 'mainController/layout.html'%}
{% block title %} Администрирование {% endblock %}
{% block body %}
<div class="custom-wrapper">
    <div>
        <h2>Услуги</h2>
        <a href="{% url 'add_service'%}" class="icon-link">
            <button class="btn btn-warning">Добавить услугу</button>
        </a>
        <a href="{% url 'get_service_list'%}" class="icon-link">
            <button class="btn btn-warning">Список услуг</button>
        </a>


    </div>
    <div>
        <h2>Работники</h2>
        <a href="{% url 'add_staff_member_info'%}" class="icon-link">
            <button class="btn btn-warning">Добавить работника </button>
        </a>
        <a href="{% url 'get_staff_list'%}" class="icon-link">
            <button class="btn btn-warning">Список работников</button>
        </a>

    </div>
    <div>
        <h2>Записи</h2>
        <a href="{% url 'get_user_appointments'%}" class="icon-link">
            <button class="btn btn-warning">Календарь записей</button>
        </a>
    </div>
</div>

{% endblock %}
