{% extends 'mainController/layout.html'%}
{% load i18n %}
{% load static %}
{% block title %} Услуги {% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{%static 'css/app_admin/staff_list.css'%}">
{% endblock %}


{% block body %}
<section class="content content-wrapper">
    <div class="service-container">
        <section class="profile-section">
            <div class="section-header">
                <button class="btn btn-warning" style="margin-right:10px">
                    <a href="{% url 'show_all'%}"> Меню </a>
                </button>

                <h2 class="section-header-itm">{% trans 'Перечень предоставляемых услуг' %}</h2>
            </div>
            <div class="responsive-table-container">
                <table>
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans 'Имя' %}</th>
                        <th>{% trans 'Продолжительность' %}</th>
                        <th>{% trans 'Цена' %}</th>
                        <th>{% trans 'Детали' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{service.id}}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.get_duration }}</td>
                        <td>{{ service.get_price}}</td>
                        <td>
                            <div class="buttons-container">
                                {% if user.is_superuser %}
                                <a href="{% url 'update_service' service_id=service.id %}"
                                   class="btn btn-warning">{% trans 'Редактировать' %}</a>
                                <a href="{% url 'delete_service' service_id=service.id %}"
                                   class="btn btn-danger">{% trans 'Удалить' %}</a>
                                {% endif %}
                            </div>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans 'Услуги не добавлены' %}.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="messages" style="margin: 20px 0">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                 role="alert">{{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
