{% extends 'mainController/layout.html'%}
{% load i18n %}
{% load static %}
{% block title %} Работники {% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_admin/staff_list.css' %}"/>
{% endblock %}
{% block body %}
    <section class="content content-wrapper">
        <div class="profile-container">
            <section class="profile-section">
                <div class="section-header">
                     <button class="btn btn-warning" style="margin-right:10px">
                        <a href="{% url 'show_all'%}"> Меню </a>
                    </button>
                    <h2 class="section-header-itm">{% trans 'Работники' %}</h2>
                    <div class="buttons-container section-header-itm">
                        <a href="{% url 'add_staff_member_info' %}"
                           class="modify-btn button-color-green">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="responsive-table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>{% trans 'Имя' %}</th>
                            <th>{% trans 'Email' %}</th>
                            <th>{% trans 'Детали' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for staff_member in staff_members %}
                            <tr>
                                <td>{{ staff_member.get_staff_member_name }}</td>
                                <td>{{ staff_member.user.email|default:"Не указано" }}</td>
                                <td>
                                    <a href="{% url 'user_profile' staff_member.user.id %}"
                                       class="btn btn-warning">{% trans 'Профиль' %}</a>
                                    <a href="{% url 'remove_staff_member' staff_member.user.id %}"
                                       class="btn btn-danger">{% trans 'Remove' %}</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">{% trans 'Сотрудников не добавлено' %}.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="messages" style="margin: 20px 0">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                             role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
