{% extends 'mainController/layout.html'%}
{% load static %}
{% block title %} Услуги {% endblock %}
{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app/show_services.css' %}"/>
{% endblock %}

{% block body %}
<div class="container-show">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h3>Услуги <span>{{ services|length }}</span></h3>
    {% for service in services %}
    <div class="service-section">
        <div class="service">
            <img src="{{service.get_image_url}}" alt="Фотография услуги">
            <div class="about">
                <div class="text-about">
                    {% if superuser or user.is_staff%}
                        <a class="title " href="{% url 'update_service' service_id=service.id %}">
                            {{service.name}} </a>
                    {% else %}
                        <p>{{service.name}}</p>
                    {% endif %}
                    <div class="type">{{ service.get_duration }}</div>
                </div>
            </div>
            <div class="details">
                <div class="text-details">
                    <div class="price">
                        {{ service.get_price }}
                    </div>
                </div>
                <div class="book">
                    <a href="{% url 'appointment_request' service_id=service.id %}"
                       class="btn btn-primary">Записаться</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{%endblock%}
