{% extends 'mainController/layout.html'%}
{% load static %}

{% block body %}
<div class="login">
    <form method="POST">
        {% csrf_token %}
        <h2>Вход</h2>
        {{ form }}
        <br>
        <button type="submit" class="btn btn-warning">Вход</button>
    </form>
    <p>Нет аккаунта? <a class="ml-2" href="{% url 'registration' %}">Регистрация</a></p>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
